#Questionnaire {
    padding-block-start: 0;
    border-bottom: 1px solid var(--border);
}

#Questionnaire>div {
    padding: 1.5rem;
}

#Questionnaire>div button.accordion-trigger {
    width: 100%;
    height: 100%;
    text-align: left;
    border: none;
    padding-block: 1rem;
    color: var(--text);
    background-color: inherit;
    font-weight: 700;
    font-size: var(--fs-xs);
    /* transition: all 200ms; */
}

#Questionnaire>div form>button,
a>button {
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--border);
    color: var(--text);
    padding: 1rem;
    background-color: inherit;
    font-weight: 700;
    font-size: var(--fs-xs);
    transition: all 0.5s;
}

#Questionnaire>div button:active,
#Questionnaire>div button:hover,
a>button:active,
a>button:hover {
    background-color: var(--text);
    color: var(--background);
}

#Questionnaire>div>* {
    border-bottom: 1px solid var(--border);
}

#Questionnaire>div>:last-child {
    border-bottom: 1px solid transparent;
}

#Questionnaire h3 {
    margin: 0;
}

#Questionnaire .summary-card {
    background-color: var(--accent);
    border-radius: 100vh;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#Questionnaire .summary-card>a {
    text-decoration: none;
    color: #1d1d1d;
}


#Questionnaire .summary-card>button {
    border-radius: 50%;
    padding: 0;
    font-size: x-small;
    width: 30px;
    border: none;
    aspect-ratio: 1/1;
    transition: all 0.5s;
    color: #1d1d1d;
    background-color: rgba(206, 103, 103, 0.25);
}

#Questionnaire .summary-card>button:hover,
#Questionnaire .summary-card>button:focus,
#Questionnaire .str-card>button:hover,
#Questionnaire .str-card>button:focus,
#Questionnaire .obj-card>button:focus,
#Questionnaire .obj-card>button:hover {
    background-color: red;
    color: white;
}

#Questionnaire .str-card {
    background-color: var(--accent);
    border-radius: 100vh;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#Questionnaire .str-card>p {
    margin: 0;
    padding: 0;
}

#Questionnaire .str-card>button,
#Questionnaire .obj-card>button {
    padding: 0;
    font-size: x-small;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    transition: all 0.5s;
    color: #1d1d1d;
    background-color: rgba(206, 103, 103, 0.25);
}

#Questionnaire .obj-card {
    border: 1px solid var(--border);
    border-radius: 5px;
    max-width: 30ch;
    min-height: 5rem;
    padding: 1rem;
    color: black;
    background-color: var(--accent);
    margin-block-end: 1rem;
}

#Questionnaire .card-container {
    max-width: 50rem;
    overflow-x: scroll;
    scrollbar-width: 10px;
}