#Blog h2 {
    font-weight: 100;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    #Blog {
        --anchor-color: #1d1d1d;
        --border-color: rgba(0, 0, 0, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    #Blog {
        --anchor-color: #fff;
        --border-color: rgba(255, 255, 255, 0.05)
    }
}



#Blog h3 {
    padding: 0;
    margin: 0;
}

#Blog>.flex {
    justify-content: space-between;
    align-items: center;
}

#Blog a.fancy {
    text-decoration: none;
    text-underline-offset: 0.3rem;
    position: relative;
    z-index: 1;
}

#Blog a.fancy:hover,
#Blog a.fancy:focus {
    text-decoration: underline;
}

#Blog a.fancy::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--anchor-color);
    opacity: .05;
    left: -15%;
    top: -50%;
}


/* Blog Details */

#Blog>.blogDetails {
    border-top: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0);
    padding-inline: 1rem;
}

#Blog>.blogDetails .author p {
    margin: 0;
}

#Blog>.blogDetails .author h4 {
    font-weight: 500;
    margin: 0;
}

#Blog>.blogDetails .info h4 {
    font-weight: 500;
    text-decoration: underline;
    max-width: 45ch;
}

#Blog>.blogDetails .img {
    height: 60px;
    aspect-ratio: 1/1;
    width: auto;
    border-radius: 50%;
}

#Blog>.blogDetails .tags>* {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    border-radius: 100vh;
}


#Blog>.blogDetails div>a {
    color: transparent;
    background-color: transparent;
    text-decoration: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 100vh;
}

#Blog>.blogDetails div>a:hover,
#Blog>.blogDetails div>a:focus {
    text-decoration: underline;
}

/* animation */
@media screen and (min-width:768px) {
    #Blog>.blogDetails:hover {
        color: transparent;
        animation: bg 10s linear;
        animation-fill-mode: forwards;
    }

    /* animation helpers */

    #Blog>.blogDetails:hover .img {
        background: transparent;
    }

    #Blog>.blogDetails:hover .tags>* {
        border: transparent;
    }

    #Blog>.blogDetails:hover a {
        color: transparent;
    }

    #Blog>.blogDetails:hover div>a {
        color: black;
        background-color: #c9f31d;
    }

}

@keyframes bg {
    0% {
        background-position: top center;
        background-size: auto auto;
    }

    100% {
        background-position: bottom center;
        background-size: auto auto;
    }
}