#Contacts .content>h2,
#Contacts .content>h3 {
    margin: 0;
}

#Contacts .content>h2 {
    font-weight: 100;
}

#Contacts .content>h3 {
    max-width: 15ch;
}

#Contacts .content>p {
    max-width: 55ch;
}

#Contacts .content>p.coloraccent {
    font-weight: 700;
}

#Contacts .content>div {
    padding-block: 1rem;
    max-width: 40ch;
    place-content: space-between;
}

#Contacts a {
    text-decoration: none;
}