.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.accordion-content[data-hidden="false"] {
    grid-template-rows: 1fr;
}

.accordion-content>div {
    overflow: hidden;
}